@font-face {
    font-family: Gilroy-semibold;
    src: url('@/assets/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: Gilroy-regular;
    src: url('@/assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: Gilroy-light;
    src: url('@/assets/fonts/Gilroy-Light.ttf');
}

@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
  }
}

@theme {
    --font-semibold: "Gilroy-semibold", sans-serif;
    --font-regular: "Gilroy-regular", sans-serif;
    --font-light: "Gillroy-light", sans-serif;
    --color-border: #4E4E4E;
    --color-font: #181818;
    --color-blue: #2E59E7;
    --text-hero-title: 140px;
    --text-hero-description: 20px;
}